.brian {
	border: solid 2px #277da1;
	padding: 6px;
}

.container {
	background-color: #adb5bd;
}

.delay {
  transition-property: font-size;
  transition-duration: 2s;
  transition-delay: 0.5;
}

.delay:hover {
	font-size: 36px;
}

.forest {
	float: left;
	width: 350px;
	height: auto;
	margin-right: 15px;
}

.guitar {
	float: left;
	width: 300px;
	height: auto;
	margin-right: 30px;
}

h2 {
	color: #277da1;
	font-weight: 700;
}

img {
	width: 400px;
	height: auto;
}

.interests {
	padding-bottom: 10px;
}

.jumbotron {
	text-align: center;
	background-color: #212529;
	padding-top: 10px;
	padding-bottom: 10px;
}

.name {
	color: #277da1;
	font-size: larger;
	font-weight: 800;
}