.brian {
	border: solid 2px #277da1;
	padding: 6px;
}

.container {
	background-color: #adb5bd;
}

.forest {
	float: left;
	width: 200px;
	height: auto;
	margin-right: 40px;
}

.guitar {
	float: left;
	padding: 4px;
	margin-right: 25px;
}

h2 {
	color: #277da1;
}

img {
	width: 400px;
	height: auto;
}

.jumbotron {
	text-align: center;
	background-color: #212529;
}

.name {
	color: #277da1;
	font-size: larger;
	font-weight: 800;
}